<% if user_signed_in? %>
  <%= link_to "Create Listing", new_listing_path %>
<% end %>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <div>
        <%= image_tag listing.image.url(:thumb) %>
      </div>
      <%= link_to listing.name, listing_path(listing) %>
    </li>
  <% end %>
</ul>
